/*
TO DO
Add dropdown menus.
*/
html * {
    background-color: rgb(33, 30, 30);
    color: white;

}

.topBar {
    margin: auto;
    font-size: 17px;
    height:40px;
    width: 33%;
    float: left;
    text-align: left;
}

/* Add some style to make the button look like a button.*/
#reload {
    background-color: #4CAF50; /* Green */
    border: none;
    text-align: center;
}

#chartStats, #dropDowns {
    background-color:  rgb(45, 45, 47);
}

#chart {
    text-align: center;
    font-size: 30px;
}